<!DOCTYPE html>
<html>

<head>
    <title>Siw-RecipeBook</title>
    <link rel="stylesheet" href="/css/formLogin.css" />
</head>

<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
        <div th:unless="${userDetails}">
            </div>
    </header>

    <div>
        </div>

    <form th:action="@{/login}" method="POST" class="elegant-form">
        
        <h1>LOGIN</h1>
        
        <div>
            <label>USERNAME</label>
            <input type="text" placeholder="username" name="username" required />
        </div>
        <div>
            <label>PASSWORD</label>
            <input type="password" placeholder="password" name="password" required />
        </div>
        
        <div class="center-button">
            <button type="submit">ENTRA</button>
        </div>
        
        <div class="extra-links">
            <div th:if="${param.error}" style="text-align: center; margin-bottom: 10px;">
                <span style="color:#E74C3C; font-weight: 500;">Username o password non corretti</span>
            </div>
            
            <a href="#">Password dimenticata?</a> • 
            <a th:href="@{/register}">Crea un account</a>
        </div>
    </form>
</body>

</html>