<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <head>
    <meta charset="UTF-8">
    <title th:text="${recipe.title}">Dettaglio Ricetta</title>
    <link rel="stylesheet" href="/css/recipe.css" />
</head>

<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
        <div th:unless="${userDetails}">
            <a href="/login">Login</a>
        </div>
    </header>

    <div>
        <a href="/"><img src="/images/logo-siw.png" width="50%"/></a>
    </div>

    <h1 th:text="${recipe.title}">Titolo Ricetta</h1>

	<div sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{'/admin/recipe/' + ${recipe.id} + '/edit'}">✏️ Modifica ricetta</a>
    </div>

    <div>
        <img th:if="${recipe.imageUrl}" th:src="${recipe.imageUrl}" alt="Immagine Ricetta" width="300px"/>
    </div>

    <p><strong>Descrizione:</strong></p>
    <p th:text="${recipe.description}">Testo descrizione...</p>

    <p><strong>Tempo di preparazione:</strong> <span th:text="${recipe.preparationTime}">0</span> minuti</p>
    <p><strong>Difficoltà:</strong> <span th:text="${recipe.difficulty}">Facile</span></p>
    <p><strong>Porzioni:</strong> <span th:text="${recipe.servings}">1</span></p>

    <h2>Ingredienti</h2>
	<ul>
	    <li th:each="ing : ${recipe.ingredients}">
	        <span th:text="${ing.name}">Ingrediente</span> - 
	        <span th:text="${ing.quantity}">0</span> 
	        <span th:text="${ing.unit}">unità</span>
	        </li>
	</ul>

	
	<h3>Procedimento</h3>
	<p th:text="${recipe.procedure}">Qui ci sarà il procedimento della ricetta...</p>
	
	<h3>Tag:</h3>
	<ul>
	    <li th:each="tag : ${recipe.tags}" th:text="${tag}">Tag</li>
	</ul>

	<div class="recipe-category">
	    <h3>Categoria:</h3>
	    <p th:text="${recipe.category}">Categoria Ricetta</p>
	</div>
	
	<br>
    <a href="/recipes">Torna all'elenco delle ricette</a>
</body>

</html>






