<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Elenco Ricette</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
        <div th:unless="${userDetails}">
            <a href="/login">Login</a>
        </div>
    </header>

    <div>
        <a href="/"><img src="/images/logo-siw.png" width="50%"/></a>
    </div>

    <h1>Elenco Ricette</h1>

    <div th:if="${#lists.isEmpty(recipes)}">
        <p>Nessuna ricetta presente.</p>
    </div>

    <ul>
        <li th:each="recipe : ${recipes}">
            <a th:href="@{/recipe/{id}(id=${recipe.id})}" th:text="${recipe.title}">Titolo Ricetta</a>
        </li>
    </ul>

    <a href="/formNewRecipe">Aggiungi nuova ricetta</a>
</body>

</html>
