<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SiwRecipe - Registrazione avvenuta</title>
    <link rel="stylesheet" href="/css/registrationSuccessful.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div class="magic-background"></div>

   

    <div class="logo-container">
        <a href="/"><img src="/images/logo-siw.png" alt="SiwLogo"/></a>
    </div>

    <main class="grimorio-card">
        
        <div class="decorative-header">
            <h1>Registrazione completata!</h1>
        </div>

        <div class="content-body">
            <p class="welcome-text">
                Benvenuto <span class="highlight-name" th:text="${user.name}"></span>!
            </p>
            
           <div class="seal-icon"><i class="fa-solid fa-utensils"></i></div>

            <p class="action-text">
                 <a href="/login" class="btn-magic-login">Accedi al tuo account</a>.
            </p>
        </div>
    </main>

</body>
</html>